<!doctype html>
<html>
<head>
    <title>Hello</title>
    <script src="http://js.pusher.com/1.11/pusher.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var pusher = new Pusher('26f4232b489d7c8a2e22');
        pusher.connection.bind('state_change', function(states) {
          $('div#status').text("Pusher's current state is " + states.current);
        });
        var board_connect_channel = pusher.subscribe('board_connect_channel');
        var testing_channel = pusher.subscribe('testing_channel');
        var test_channel = pusher.subscribe('test_channel');
        var board_presence_channel = pusher.subscribe('presence-of-boards');
        
        testing_channel.bind('new_message', function(data) {
          $('.messages').append("<div class=\"message\">" + data.message + "</div>");
        });
        board_connect_channel.bind('connection', function(data) {
          $('.messages').append("<div class=\"message\">" + data.message + "</div>");
        });
        board_presence_channel.bind('board_connect', function(data) {
          $('.messages').append("<div class=\"message\">" + data.message + "</div>");
        });

        test_channel.bind('new_message', function(data) {
          $('.messages').append("<div class=\"message\">" + data.url + "</div>");
        });

        board_presence_channel.bind('pusher:member_added', function(member) {
          console.log(member)
          $('.messages').append("<div class=\"message\">" + member + "</div>");
        });
        Pusher.log = function(message) {
          if (window.console && window.console.log) window.console.log(message);
        };
        $("#message_form").submit(function(e) {
          e.preventDefault();
          $.post('/messages', $(this).serialize(), function() {
            $("#message_form input").val('');
          });
        });
      });
    </script>
</head>
<body>
    <%= yield %>
</body>
</html>